@media (min-width: 768px) {
    
    main h1 {
        font-size: 2.2rem;
    }

    h2 {
        font-size: 1.6rem;
    }

    p {
        font-size: 18px;
        color: var(--text-color);
    }

    .cc-city .larger {
        font-size: 2.5rem;
    }

    .cc-city {
        font-size: 1.2rem;
    }

    .hamburger {
        display: none;
    }

    .menu {
        display: flex;
        /* flex-wrap: wrap; */
        gap: 2%;
        justify-content: flex-end;
        padding-right: 10px;
        
    }


    header{
        display: grid;
        grid-template-columns: 1fr 1fr;
        background-color: var(--primary-backgound-color);
        align-items: center;
    }

    .menu {
        flex-direction: row;

    }



    .navigation li a {
    width: 100%;
    padding: 12px 1rem 12px 1rem;
    background: none;
    font-size: 1.5rem;

}

    .key-note a{
        display: block;
        font-size: 3rem;
        padding: 1rem 1.9rem 1rem 1.9rem;
        border-radius: 40px;


}
     
    main h1 {
        /* margin: 0; */
        padding-left: 8px;
        font-size: 2.4rem;
        text-align: center;
    }

    .podcast {
        display: grid;
        grid-template-columns: 45% 1fr 1fr;
        gap: 20px;
    }

    .podcast div h2 {
        text-align: left;
    }

    .layout-buttons button {
        background-color: var(--button-color);
        color: white;
        border-radius: 7px;
        border-bottom: 1px solid black;
        box-shadow: -2px 3px 5px black;
    }

    .business-card, #featured-business {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 500px));
        gap: 20px;
        justify-content: center;
    }

    table {
        width: 80%;
        margin: 0 auto 2rem auto;
        border-collapse: collapse;
    }




    td {
        font-size: 1.2rem;
        color: var(--text-color);
    }

    th, td {
        padding: 10px;
        border: 1px solid black;
    }

    

}